<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- For viewing the page on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>
    <%= title %> - Sundered Peak
  </title>
  <link rel="stylesheet" href="/css/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6956791-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-6956791-1');
  </script>
</head>
<body>
  <header>
    <h1>
      <a href="/">Sundered Peak</a>
    </h1>
    <h2>through the mind of kyle tolle</h2>
  </header>
  <main>
    <article>
      <header>
        <h1><%= title %></h1>
        <time datetime="<%= new_created_on%>"><%= new_created_on_human %></time>
      </header>
      <%= yield %>
    </article>
  </main>
  <footer>
    <small>Copyright &copy; <%= Time.now.year %> Kyle Tolle</small>
  </footer>
</body>
</html>

